<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome dear {{ name }} !!</h1>
    <br/>
    <p>
        <img src="{% static 'images/email.png' %}" alt="Social Star Image" height="200px" width="200px"/>
        <strong>You can write blogs, create groups, add posts, join and leave groups.</strong>
    </p>
    <br/>
    <h2>Happy Blogging :)</h2>
</body>
</html>