{% extends 'posts/post_base.html' %}

{% block post_content %}
<div class="col-md-4">
    {% if user.is_authenticated %}
    <div class="card card-with-shadow">
        <div class="content">
            <h3 class="title">Your Groups</h3>
                <ul class="list-unstyled">

                    {% for member_group in user_groups %}

                    <li><a href="{% url 'groups:single' slug=member_group.group.slug %}"><strong>{{ member_group.group.name }}</strong></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %} 
        <div class="card card-with-shadow">
            <div class="content">
                <h3 class="title">All Groups</h3>
                    <ul class="list-unstyled">
                        {% for o in other_groups %}
                        <li><a href="{% url 'groups:single' slug=o.group.slug %}"><strong>{{ o.group.name }}</strong></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div> 
</div>

{% endblock %}
{% block post_post %}   

<div class="col-md-8">
    {% for post in post_list %}
    {% include 'posts/_post.html' %}

    {% endfor %}

</div>
        {% endblock %}